@page "/login"
@using FestivalProject.BL.Models.UserDto
    
@*<p>@DataVariable</p>
<p><input @bind="@DataVariable"></p>
<button @onclick="@(() => testmethod())">change</button>
    
@code {
    string DataVariable = "Hello World!";
    void testmethod()
    {
        DataVariable = "Hello Programmer!";
    }
}*@



<h4 >Login</h4>
   
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Username</label>
        <InputText @bind-Value="model.Username" class="form-control" />
        <ValidationMessage For="@(() => model.Username)" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText @bind-Value="model.Password" type="password" class="form-control" />
        <ValidationMessage For="@(() => model.Password)" />
    </div>
    <button disabled="@loading" class="btn btn-primary">
        @if (loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Login
    </button>
    <NavLink href="account/register" class="btn btn-link">Register</NavLink>
</EditForm>



<h4 >Register</h4>
   
<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name</label>
        <InputText @bind-Value="model.Username" class="form-control" />

    </div>
    <div class="form-group">
        <label>Surname</label>
        <InputText @bind-Value="model.Username" class="form-control" />

    </div>
    <div class="form-group">
        <label>Country</label>
        <InputText @bind-Value="model.Username" class="form-control" />

    </div>
    <div class="form-group">
        <label>City</label>
        <InputText @bind-Value="model.Username" class="form-control" />

    </div>
    <div class="form-group">
        <label>Email</label>
        <InputText @bind-Value="model.Username" class="form-control" />

    </div>
    <div class="form-group">
        <label>Username</label>
        <InputText @bind-Value="model.Username" class="form-control" />

    </div>
    <div class="form-group">
        <label>Password</label>
        <InputText @bind-Value="model.Password" type="password" class="form-control" />
    </div>
    <button disabled="@loading" class="btn btn-primary">
        @if (loading)
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Register
    </button>
</EditForm>
    
ahoij cau


@code {
    private UserAuthenticateDto model = new UserAuthenticateDto();
    private bool loading;

    private async void OnValidSubmit()
    {
    // reset alerts on submit

        loading = true;
       
    }
}